extends ../layouts/default

block main
  h1= title

block content
  .row
    .col-md-4
      form(method="post", action='/notices/'+notice._id, role="form")
        input(type="hidden", name="_csrf", value=csrf_token)

        .card.mb-5
          .card-header= notice.pc.loc+', '+notice.pc.phone+', '+ formatDate(notice.at)
          .card-body= notice.what

        .form-group
          textarea.form-control#ack(rows="3", name="ack", placeholder="处理内容")= notice.ack

        .row
          .col
            .form-check.form-check-inline
              input#new.form-check-input(type="radio", name="flag", required, value="new",checked=(notice.flag==='new' ? "checked" : undefined))
              label.form-check-label(for="new") 新的
            .form-check.form-check-inline
              input#done.form-check-input(type="radio", name="flag", required, value="done",checked=(notice.flag==='done' ? "checked" : undefined))
              label.form-check-label(for="done") 已处理
            .form-check.form-check-inline
              input#todo.form-check-input(type="radio", name="flag", required, value="todo", checked=(notice.flag=== 'todo' ? "checked" : undefined))
              label.form-check-label(for="todo") 待处理
            .form-check.form-check-inline
              input#close.form-check-input(type="radio", name="flag", required, value="close", checked=(notice.flag=== 'close' ? "checked" : undefined))
              label.form-check-label(for="close") 关闭

        
        button.btn.btn-primary.mt-3(type='submit') 保存
